*~
~*
.settings
build
buildDefault
out
junit
*.class
*.a
*.pyc
*.swp
*.back
*.log
cmake-build-debug
cmake-build-relwithdebinfo
config/*.xml

#Intelij

**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/watcherTasks.xml
**/.idea/shelf
**/.idea/dictionaries
**/.idea/webServers.xml

#clang-format

.clang-format
*.TMP
*.java-*

#eclipse
.metadata
.recommenders
*.properties
client/.idea/xtextAutoBuilderState.xml
