<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_-5270170352274771424_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_-5279115668393830288_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_-5280118423018274782_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_-5281191546342808216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_-6907882909048340304_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_0_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_1000_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_12886886160_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_15665549614776320_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051173736_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051210600_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051214696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051239272_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051300712_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051308904_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051390824_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051464552_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051554664_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051583336_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051640680_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051677544_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051698024_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051702120_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051706216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051718504_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051726696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051767656_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051800424_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051886440_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3052058472_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3052136296_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3052164968_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_-6907160701707583312_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_0_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_1000_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_15665549614776320_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051173736_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051210600_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051214696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051239272_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051300712_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051308904_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051390824_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051464552_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051554664_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051583336_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051640680_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051677544_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051698024_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051702120_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051706216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051718504_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051726696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051886440_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3052136296_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3052164968_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_4297017936_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="LoadGlobalsFromFile" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_tcp://localhost:5000{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://localhost:5002{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.session_control.dataexchange_channel_thread_tcp://localhost:2000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_1" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_10" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_11" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_12" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_13" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_14" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_2" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_3" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_4" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_5" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_6" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_7" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_8" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_9" priority="0" processoraffinity="0" />
	<handle flags="0" name="session_control_tcp_channel_3051173736_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="session_control_tcp_channel_3051239272_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="session_control_tcp_channel_3051308904_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="session_control_tcp_channel_3051886440_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="session_control_tcp_channel_3052136296_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="session_control_tcp_channel_3052164968_connect_timer" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
