<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
 <handle flags="0" name="AADC_Car_Control.timerActuator" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_Control.timerActuator" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_Signal_Value_Generator.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_Signal_Value_Generator.timerSignalValueGenerator" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_Signal_Value_Generator2.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_State_Controller.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_Visualization.timerActuator" priority="0" processoraffinity="15" />
 <handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_76529104_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config2-Jury_Config_tcp_channel_-5389156535878287360_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config2-Jury_Config_tcp_channel_3044181792_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_-5270170352274771424_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_-5279115668393830288_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_-5280118423018274782_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_-5281191546342808216_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_-6907882909048340304_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_0_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_1000_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_12886886160_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_15665549614776320_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051173736_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051210600_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051214696_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051239272_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051300712_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051308904_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051390824_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051464552_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051554664_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051583336_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051640680_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051677544_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051698024_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051702120_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051706216_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051718504_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051726696_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051767656_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051800424_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3051886440_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3052058472_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3052136296_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_rcv_tcp_channel_3052164968_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_-6907160701707583312_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_0_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_1000_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_15665549614776320_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051173736_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051210600_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051214696_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051239272_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051300712_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051308904_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051390824_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051464552_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051554664_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051583336_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051640680_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051677544_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051698024_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051702120_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051706216_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051718504_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051726696_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3051886440_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3052136296_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_3052164968_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Remote_trx_tcp_channel_4297017936_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="CloseConfig" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
 <handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
 <handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
 <handle flags="0" name="Direct_Show_Video_Device.devicecontrol_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="Harddisk_Player2_playback_queue_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="Harddisk_Player_playback_queue_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="LoadGlobalsFromFile" priority="0" processoraffinity="0" />
 <handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
 <handle flags="0" name="ObstacleUpdate_tcp_channel_77177424_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="ObstacleUpdate_tcp_channel_83977776_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="ObstacleUpdate_tcp_channel_84663072_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="OpenConfig" priority="0" processoraffinity="0" />
 <handle flags="0" name="ParkingSpaceUpdate_tcp_channel_77190544_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="ParkingSpaceUpdate_tcp_channel_83990880_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="ParkingSpaceUpdate_tcp_channel_84676560_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
 <handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
 <handle flags="0" name="TrafficSignUpdate_tcp_channel_77164416_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="TrafficSignUpdate_tcp_channel_83964720_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="TrafficSignUpdate_tcp_channel_84649984_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config2-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_tcp://localhost:5000{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://localhost:5002{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Harddisk_Player.hdsequencer_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Harddisk_Player.looper_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Harddisk_Player2.hdsequencer_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Harddisk_Player2.looper_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.ObstacleUpdate.dataexchange_channel_thread_tcp://192.168.0.3:30002{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.ParkingSpaceUpdate.dataexchange_channel_thread_tcp://192.168.0.3:30003{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.PositionUpdate.dataexchange_channel_thread_udp://192.168.0.3:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.PositionUpdate.udp_channel.receiver_thread(udp://192.168.0.3:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.TrafficSignUpdate.dataexchange_channel_thread_tcp://192.168.0.3:30001{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.can_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.core.memory_manager.release_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.lin_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.most_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.session_control.dataexchange_channel_thread_tcp://localhost:2000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.hdsequencer_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.looper_thread" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_1" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_110" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_12" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_15" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_22" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_3" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_37" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_4" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_5" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_6" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_7" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_8" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777217_9" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777234_7" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777248_15" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777248_3" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777248_4" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777248_6" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777248_7" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777248_8" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777248_9" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_1" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_10" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_12" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_13" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_14" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_15" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_16" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_17" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_18" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_19" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_2" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_20" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_23" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_24" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_25" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_27" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_28" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_3" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_32" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_4" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_5" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_6" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_7" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_8" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777249_9" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777250_5" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777250_6" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_1" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_10" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_106" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_107" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_108" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_109" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_11" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_12" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_13" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_14" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_15" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_16" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_17" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_18" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_19" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_2" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_20" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_21" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_22" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_23" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_24" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_25" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_26" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_27" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_29" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_3" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_30" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_31" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_33" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_34" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_35" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_36" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_4" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_5" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_6" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_7" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_8" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_16777251_9" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_214_40" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_214_41" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_214_42" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_214_43" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_214_49" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_25" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_26" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_27" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_28" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_29" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_30" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_31" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_32" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_33" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_39" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_59" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_60" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_61" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_62" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_65_69" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_103" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_34" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_35" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_36" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_37" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_48" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_81" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_82" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_83" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_68_84" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_100" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_101" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_102" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_105" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_70" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_71" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_72" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_73" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_79" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_70_99" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_55" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_56" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_57" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_58" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_68" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_75" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_76" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_77" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_78" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_74_80" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_51" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_52" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_53" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_54" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_67" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_85" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_86" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_87" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_88" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_75_97" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_1" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_10" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_11" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_12" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_13" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_14" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_16" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_17" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_18" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_19" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_2" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_20" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_3" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_4" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_44" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_45" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_46" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_47" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_5" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_50" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_89" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_90" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_91" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_92" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_76_98" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_104" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_21" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_22" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_23" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_24" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_38" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_63" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_64" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_65" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_66" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_74" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_93" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_94" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_95" priority="0" processoraffinity="0" />
 <handle flags="4" name="adtf_xsystem.key_event_83_96" priority="0" processoraffinity="0" />
 <handle flags="0" name="recorder_filewriter_thread_0" priority="4" processoraffinity="0" />
 <handle flags="0" name="session_control_tcp_channel_3051173736_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="session_control_tcp_channel_3051239272_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="session_control_tcp_channel_3051308904_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="session_control_tcp_channel_3051886440_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="session_control_tcp_channel_3052136296_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="session_control_tcp_channel_3052164968_connect_timer" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
